* {
    margin: 0;
    padding: 0;
}

#testWrapper {
    margin: auto;
    padding: auto;  
}

#gameWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 1px solid red;
}

.gridSelectionForm {
    margin:0;
}

.gridLarge {
    width: 35px;
    height: 35px;
    background-color: aquamarine;
}

.gridMedium {
    width: 17.5px;
    height: 17.5px;
    background-color: aquamarine;
}

.gridSmall {
    width: 8.75px;
    height: 8.75px;
    background-color: aquamarine;
}

.changeColor {
    background-color: black;
}

.userControl {
    width: 450px;
    padding: 15px;
    margin: 15px;
    border: 2px solid red;
}