#testWrapper {
    margin: auto;
    padding: auto;  
}

#gameWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 1px solid red;
}

.gridSelectionForm {
    margin:0;
}

.grid {
    width: 35px;
    height: 35px;
    background-color: aquamarine;
}

.changeColor {
    width: 50px;
    height:50px;
    flex: 1 1 50px;
    background-color: black;
}

.userControl {
    width: 450px;
    padding: 15px;
    border: 2px solid red;
}

/*

ORIGINAL .GRID

.grid {
    width: 50px;
    height:50px;
    flex: 1 1 50px;
}

*/